<% title "Comment" %>

<p>
  <strong>Content:</strong>
  <%=h @comment.content %>
</p>
<p>
  <strong>Subject:</strong>
  <%=h @comment.subject %>
</p>
<p>
  <strong>Commentable:</strong>
  <%=h @comment.commentable_id %>
</p>
<p>
  <strong>Commentable Type:</strong>
  <%=h @comment.commentable_type %>
</p>